body {
  margin: 30px;
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}
.heading {
  text-transform: uppercase;
}

.gallery {
  text-align: center;
}

/* img.gallery {
  border-radius: 30px;
} */

.top {
  margin-top: 40px;
  margin-left: 10px;
}
.bottom {
  margin-bottom: 40px;
  margin-left: 10px;
}

.img1 {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.img2 {
  float: right;
  margin-right: 10px;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
}
.container p {
  padding-top: 40px;
}
.alpha {
  color: orange;
}
.beta {
  color: orangered;
}
.gamma {
  color: rgb(9, 226, 9);
}

.title1 {
  color: #f4894b;
}
.title2 {
  color: #fde56d;
}
.title3 {
  color: #86b648;
}
.title4 {
  color: #d06c2c;
}
.title5 {
  color: #cb372f;
}
